.rating {
  display: inline-flex;
  gap: 4px;
  line-height: 1;
}
.rating .star {
  font-size: 2.4rem;
  color: hsl(0, 0%, 89%);
  margin-right: 10px;
}

.rating .star.filled {
  color: var(--primary, #ff6060);
}
